---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #000000;
  background-image: none;
  padding: 2rem 1rem;
}

body {
  background-color: #000000;
  color: #FFFFFF;
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: #FDDC43;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  background-color: #000000;
  color: #FFFFFF;
}

a {
  color: #FDDC43;
  text-decoration: none;
  
  &:hover {
    color: lighten(#FDDC43, 10%);
    text-decoration: underline;
  }
}
